{{- /* "2026-08-04" → "4 августа"; "2026-08" → "август" */ -}}
{{- $m := slice "января" "февраля" "марта" "апреля" "мая" "июня" "июля" "августа" "сентября" "октября" "ноября" "декабря" }}
{{- $n := slice "январь" "февраль" "март" "апрель" "май" "июнь" "июль" "август" "сентябрь" "октябрь" "ноябрь" "декабрь" }}
{{- $p := split (string .) "-" }}
{{- if ge (len $p) 3 }}{{ int (strings.TrimLeft "0" (index $p 2)) }} {{ index $m (sub (int (strings.TrimLeft "0" (index $p 1))) 1) }}{{ else if eq (len $p) 2 }}{{ index $n (sub (int (strings.TrimLeft "0" (index $p 1))) 1) }}{{ else }}{{ . }}{{ end -}}
